

.Mainnos {
    border-top: 1px solid #008b8b;
    background: rgb(1, 0, 8);
    background: rgb(1, 0, 8);
    background: -moz-linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    background: -webkit-linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    background: linear-gradient(180deg, rgba(1, 0, 8, 1) 0%, rgba(0, 139, 139, 1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008", endColorstr="#008b8b", GradientType=1);
   
    padding-top: 20px;
    height: auto;
}


.Teclas {

    text-align: center;
    border: 1px solid #008b8b;
    border-radius: 10px;
    width: 88%;
    margin: 0 auto;
    height: 260px;
    background: rgb(1, 0, 8);
    background: -moz-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: -webkit-linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgba(4, 78, 78) 78%);
    background: linear-gradient(279deg, rgba(1, 0, 8, 1) 0%, rgb(4, 78, 78) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010008", endColorstr="#008b8b", GradientType=1);
    padding: 30px;
    color: #008b8b;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.Detteclas {

    display: flex;
    flex-direction: column;
    color: aliceblue;

}

.Imgteclas {
    width: 200px;
    height: 200px;
    background-color: #008b8b;
    /* flex-wrap: nowrap; */
}

.Imgteclas img {
    width: 200px;
    height: 200px;

}

.Teclas:hover {

    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}