<h1>{{title}}</h1>

{{#if conocido}}

<p>Hola {{nombre}} <a href="/salir">Salgamos</a></p>

{{/if}}

{{#unless conocido}}

<p>No nos estariamos conociendo</p>

<form action="/ingresar" method="post">

<input type="text" name="nombre" > <button>Ingresemos</button>
</form>

{{/unless}}